#hello {
    font: 7rem var(--secondary-font-family);
    letter-spacing: 2px;
}

#basic-info {
    display: flex;
}

#basic-info p {
    color: var(--color-pink-500);
    text-align: justify;
    line-height: var(--space-6);
}

#basic-info strong {
    color: var(--color-purple-600);
    letter-spacing: 1px;
}

#basic-info a {
    display: inline-block;
    transition: transform 0.2s ease-in;
}

#basic-info a:hover,
#basic-info a:active {
    transform: scale(1.1);
}

#my-photo {
    height: 100%;
    min-height: 20rem;
    background-image: url("/assets/my-photo.jpg");
    background-position: center;
    background-size: cover;
}

#my-description {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    #hello {
        font-size: 5rem;
    }

    #basic-info {
        flex-direction: column;
        align-items: center;
    }

    #basic-info .col-lg-2 {
        width: 100%;
    }

    #my-photo {
        min-height: 30rem;
    }
}

@media (max-width: 576px) {
    main {
        width: 80%;
    }

    #hello {
        font-size: 4rem;
    }
}